<div class="container-fluid">
  <mat-card class="card card-content">
    <div class="card-header">
      <h5 class="card-title font-weight-bold text-uppercase">Công việc</h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="text-center">
            <tr>
              <th scope="col">Tên môn học</th>
              <th scope="col">Loại công việc</th>
              <th scope="col">Thời gian</th>
              <th scope="col">Chi tiết công việc</th>
              <th scope="col">Tiến hành công việc</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let job of jobs">
              <td>{{job?.subject?.subjectName || 'Tên môn học'}}</td>
              <td>{{job?.jobType?.jobTypeName}}</td>
              <td>
                <span class="badge badge-pill badge-success">{{job?.startTime | date:"dd/MMM/y"}}</span>
                <i class="fas fa-arrow-right"></i>
                <span class="badge badge-pill badge-danger">{{job?.endTime | date:"dd/MMM/y"}}</span>
              </td>
              <td>
                <button mat-raised-button color="primary" data-toggle="modal" data-target=".xemchitiet-modal-lg">Chi tiết</button>
              </td>
              <td>
                <button mat-raised-button color="primary" [routerLink]="['/cong-viec/' + job?.jobTypeId + '/' + job?.subject?.subjectId]" >Tiến hành</button>
              </td>
            </tr>
          </tbody>
        </table>
        <mat-paginator [length]="numberOfRecord" [pageSize]="numberOfPage">
        </mat-paginator>
      </div>
    </div>
  </mat-card>
</div>

<div class="modal fade xemchitiet-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tạo cấu trúc đề thi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="noidungcongviec">Nội dung công việc</label>
            <textarea class="form-control" id="noidungcongviec" rows="3" disabled="disabled">Tạo câu hỏi</textarea>
          </div>
          <h5 class="font-weight-bold">Chi tiết</h5>
          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <label for="c1c1">Chương 1</label>
                <input type="text" class="form-control" id="c1c1" value="Chapter 1" disabled="disabled">
              </div>
              <div class="col">
                <label for="c1s1">Số lượng câu hỏi</label>
                <input type="text" class="form-control" id="c1s1" value="10" disabled="disabled">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <label for="c2c2">Chương 2</label>
                <input type="text" class="form-control" id="c2c2" value="Chapter 2" disabled="disabled">
              </div>
              <div class="col">
                <label for="c2s2">Số lượng câu hỏi</label>
                <input type="text" class="form-control" id="c2s2" value="10" disabled="disabled">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" mat-raised-button data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
