<div class="container-fluid">
  <h5 class="card-title font-weight-bold text-uppercase">Duyệt câu hỏi</h5>
  Khoa Công nghê Thông tin
  <div class="mt-5 mb-3">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3 mb-5">
        <mat-card class="mat-card-sub">
          <mat-card-header class="card-header">
            <mat-card-title>Giảng viên</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="img-card" alt="Photo of a Shiba Inu">
          <mat-card-content class="card-body">
            <h5 class="text-uppercase">
              <b>Trần Lê Như Quỳnh</b>
            </h5>
            <br/>
            <span>
              <i class="fas fa-envelope"></i>&nbsp;
              <b>quynhnhu@gmail.com</b>
            </span>
            <br/>
            <span>
              <i class="fas fa-mobile-alt"></i>&nbsp;
              <b>0xxxxxxxxxxx</b>
            </span>
            <br/>
            <span>
              <i class="fas fa-birthday-cake"></i>&nbsp;
              <b>00/00/0000</b>
            </span>
          </mat-card-content>
          <mat-card-actions class="p-3">
            <button mat-raised-button color="primary" data-toggle="modal" data-target=".xemchitiet-modal-lg">Chi tiết</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-9 mb-5">
        <mat-card class="my-3">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <tbody>
                <tr>
                  <td scope="col">Mã công việc:</td>
                  <td>1099</td>
                </tr>
                <tr>
                  <td scope="col">Thời gian bắt đầu:</td>
                  <td>00/00/0000</td>
                </tr>
                <tr>
                  <td scope="col">Thời gian kết thúc:</td>
                  <td>1099</td>
                </tr>
                <tr>
                  <td scope="col">Nội dung:</td>
                  <td>abcxyz</td>
                </tr>
                <tr>
                  <td scope="col">Trạng thái:</td>
                  <td>chưa</td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-card>
        <mat-card>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th scope="col">Môn học</th>
                  <th scope="col">Chương/Câu</th>
                  <th scope="col">Mục tiêu</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="col">Nội dung:</td>
                  <td>abcxyz</td>
                  <td>1</td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-card>
        <div class="text-right py-3">
          <button class="mr-2" mat-raised-button color="warn">
            <i class="fas fa-times"></i> Không chấp nhận
          </button>
          <button mat-raised-button color="primary">
            <i class="fas fa-save"></i> Không chấp nhận
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h3>Danh sách câu hỏi</h3>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Câu hỏi 1: ABC
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-chip-list class="mb-3">
          <mat-chip color="primary" selected="true">Chương</mat-chip>
          <mat-chip color="accent" selected="true">Dễ</mat-chip>
        </mat-chip-list>
        <div class="custom-control custom-checkbox my-2">
          <input type="checkbox" class="custom-control-input" id="checkAnswer1" disabled>
          <label class="custom-control-label" for="customCheckDisabled">Đáp án 1</label>
        </div>
        <div class="custom-control custom-checkbox my-2">
          <input type="checkbox" class="custom-control-input" id="checkAnswer1" disabled>
          <label class="custom-control-label" for="customCheckDisabled">Đáp án 2</label>
        </div>
        <div class="custom-control custom-checkbox my-2">
          <input type="checkbox" class="custom-control-input" id="checkAnswer1" disabled>
          <label class="custom-control-label" for="customCheckDisabled">Đáp án 3</label>
        </div>
        <div class="custom-control custom-checkbox my-2">
          <input type="checkbox" class="custom-control-input" id="checkAnswer1" disabled>
          <label class="custom-control-label" for="customCheckDisabled">Đáp án 4</label>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Câu hỏi 1: ABC
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-chip-list class="mb-3">
          <mat-chip color="primary" selected="true">Chương</mat-chip>
          <mat-chip color="accent" selected="true">Dễ</mat-chip>
        </mat-chip-list>
        <div class="custom-control custom-checkbox my-2">
          <input type="checkbox" class="custom-control-input" id="checkAnswer1" disabled>
          <label class="custom-control-label" for="customCheckDisabled">Đáp án 1</label>
        </div>
        <div class="custom-control custom-checkbox my-2">
          <input type="checkbox" class="custom-control-input" id="checkAnswer1" disabled>
          <label class="custom-control-label" for="customCheckDisabled">Đáp án 2</label>
        </div>
        <div class="custom-control custom-checkbox my-2">
          <input type="checkbox" class="custom-control-input" id="checkAnswer1" disabled>
          <label class="custom-control-label" for="customCheckDisabled">Đáp án 3</label>
        </div>
        <div class="custom-control custom-checkbox my-2">
          <input type="checkbox" class="custom-control-input" id="checkAnswer1" disabled>
          <label class="custom-control-label" for="customCheckDisabled">Đáp án 4</label>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Câu hỏi 1: ABC
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-chip-list class="mb-3">
          <mat-chip color="primary" selected="true">Chương</mat-chip>
          <mat-chip color="accent" selected="true">Dễ</mat-chip>
        </mat-chip-list>
        <div class="custom-control custom-checkbox my-2">
          <input type="checkbox" class="custom-control-input" id="checkAnswer1" disabled>
          <label class="custom-control-label" for="customCheckDisabled">Đáp án 1</label>
        </div>
        <div class="custom-control custom-checkbox my-2">
          <input type="checkbox" class="custom-control-input" id="checkAnswer1" disabled>
          <label class="custom-control-label" for="customCheckDisabled">Đáp án 2</label>
        </div>
        <div class="custom-control custom-checkbox my-2">
          <input type="checkbox" class="custom-control-input" id="checkAnswer1" disabled>
          <label class="custom-control-label" for="customCheckDisabled">Đáp án 3</label>
        </div>
        <div class="custom-control custom-checkbox my-2">
          <input type="checkbox" class="custom-control-input" id="checkAnswer1" disabled>
          <label class="custom-control-label" for="customCheckDisabled">Đáp án 4</label>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Câu hỏi 1: ABC
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-chip-list class="mb-3">
          <mat-chip color="primary" selected="true">Chương</mat-chip>
          <mat-chip color="accent" selected="true">Dễ</mat-chip>
        </mat-chip-list>
        <div class="custom-control custom-checkbox my-2">
          <input type="checkbox" class="custom-control-input" id="checkAnswer1" disabled>
          <label class="custom-control-label" for="customCheckDisabled">Đáp án 1</label>
        </div>
        <div class="custom-control custom-checkbox my-2">
          <input type="checkbox" class="custom-control-input" id="checkAnswer1" disabled>
          <label class="custom-control-label" for="customCheckDisabled">Đáp án 2</label>
        </div>
        <div class="custom-control custom-checkbox my-2">
          <input type="checkbox" class="custom-control-input" id="checkAnswer1" disabled>
          <label class="custom-control-label" for="customCheckDisabled">Đáp án 3</label>
        </div>
        <div class="custom-control custom-checkbox my-2">
          <input type="checkbox" class="custom-control-input" id="checkAnswer1" disabled>
          <label class="custom-control-label" for="customCheckDisabled">Đáp án 4</label>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
