<div class="container-fluid">
  <h5 class="font-weight-bold">Thêm môn học</h5>
  Khoa Công nghệ thông tin
  <div class="mt-5">
    <mat-card>
      <form>
        <mat-card-header class="card-header">
          <mat-card-title>
            <h5>Nhập thông tin môn học</h5>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-body">
          <div class="form-group">
            <label class="font-weight-bold" for="bomon">Bộ môn</label>
            <select class="form-control" id="bomon">
              <option>HTTT</option>
            </select>
          </div>
          <div class="form-group">
            <label class="font-weight-bold" for="tenmon">Tên môn</label>
            <input type="text" class="form-control" id="tenmon" placeholder="Nhập tên môn học">
          </div>
          <div class="form-group">
            <label class="font-weight-bold" for="giangvien">Giảng viên dạy</label>
            <select class="form-control" id="giangvien">
              <option>Trần Lê Như Quỳnh</option>
            </select>
          </div>
          <div class="form-group">
            <label class="font-weight-bold" for="giangvienthem">Giảng viên giảng dạy (nếu có thêm)</label>
            <select multiple class="form-control" id="giangvienthem">
              <option>Phạm Văn Tính</option>
            </select>
          </div>
        </mat-card-content>
        <mat-card-actions class="text-right p-3 mr-3">
          <button type="submit" mat-raised-button color="primary">Xác nhận</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
