<div class="container-fluid">
  <h5 class="font-weight-bold">Thêm bộ môn</h5>
  Khoa Công nghệ thông tin
  <div class="mt-5">
    <mat-card>
      <form>
        <mat-card-header class="card-header">
          <mat-card-title>
            <h5>Nhập thông tin bộ môn</h5>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-body">
          <div class="form-group">
            <label class="font-weight-bold" for="khoa">Khoa</label>
            <select class="form-control" id="khoa">
              <option>Công nghệ thông tin</option>
            </select>
          </div>
          <div class="form-group">
            <label class="font-weight-bold" for="tenbomon">Tên bộ môn</label>
            <input type="text" class="form-control" id="tenbomon" placeholder="Nhập tên bộ môn">
          </div>
          <div class="form-group">
            <label class="font-weight-bold" for="tbm">Trưởng bộ môn</label>
            <select class="form-control" id="tbm">
              <option>Trần Lê Như Quỳnh</option>
            </select>
          </div>
        </mat-card-content>
        <mat-card-actions class="text-right p-3 mr-3">
          <button type="submit" mat-raised-button color="primary">Phân công</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
