<div class="container-fluid">
  <mat-card class="card card-content">
    <div class="card-header">
      <h5 class="card-title font-weight-bold text-uppercase">Phân công công việc</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3">
          <mat-card class="card">
            <img class="card-img-top" src="../assets/images/Sell-course-online.gif" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Phân công tạo đề cương</h5>
              <button [routerLink]="['/phan-cong/de-cuong']" mat-raised-button color="primary">Phân công</button>
            </div>
          </mat-card>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3">
          <mat-card class="card">
            <img class="card-img-top" src="../assets/images/Sell-course-online.gif" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Phân công tạo cấu trúc</h5>
              <button [routerLink]="['/phan-cong/cau-truc']" mat-raised-button color="primary">Phân công</button>
            </div>
          </mat-card>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3">
          <mat-card class="card">
            <img class="card-img-top" src="../assets/images/Sell-course-online.gif" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Phân công tạo câu hỏi</h5>
              <button [routerLink]="['/phan-cong/cau-hoi']" mat-raised-button color="primary">Phân công</button>
            </div>
          </mat-card>
        </div>

      </div>
    </div>
  </mat-card>
</div>
