<div class="container-fluid">
  <mat-card class="card">
    <div class="card-header">
      <h4 class="font-weight-bold">Danh sách môn học</h4>
      Khoa Công nghệ thông tin
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2 my-3">
          <mat-card class="card card-item">
            <img class="card-img-top" src="../assets/images/Sell-course-online.gif" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Phân tích thiết kế HTTT</h5>
              <h6 class="card-subtitle mb-2 text-muted">Tổng số giảng viên: 5</h6>
              <button mat-raised-button color="primary" [routerLink]="['/phan-cong-day/chi-tiet']">Chi tiết</button>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-card>
</div>
