<div class="container-fluid">
  <mat-card class="p-3 mb-3 main-title">
    <h3>Xin chào {{ teacher?teacher?.firstName: '...' }} {{ teacher?teacher?.lastName: '...' }}</h3>
  </mat-card>

  <mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
      <input [(ngModel)]="name" #ctrl="ngModel" class="form-control">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightpink'">
      <p>Value: {{ name }}</p>
      <p>Valid: {{ ctrl.valid }}</p>

      <button (click)="setValue()">Set value</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
