<div class="container-fluid">
  <h5 class="card-title font-weight-bold text-uppercase">Danh sách câu hỏi</h5>
  Khoa Công nghệ Thông tin
  <div class="mt-5">

    <mat-card class="mb-5">
      <mat-card-header id="heading1">
        <mat-card-title class="m-3">
          <b>Câu 1:</b> Quyền và nghĩa vụ Quyền và nghĩa vụ Quyền và nghĩa vụ
        </mat-card-title>
        <mat-card-subtitle class="m-3">
          <button mat-raised-button color="primary" matBadge="Dễ" matBadgePosition="after" matBadgeColor="accent" data-toggle="collapse"
            data-target="#collapseChuong1" aria-expanded="true" aria-controls="collapseChuong1">
            Đáp án
          </button>
        </mat-card-subtitle>
      </mat-card-header>
      <div id="collapseChuong1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
        <div class="card-body">
          <form class="was-validated">
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="q1a1" required disabled="disabled">
              <label class="custom-control-label" for="q1a1">Hiến Pháp</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="q1a2" required checked="checked" disabled="disabled">
              <label class="custom-control-label" for="q1a2">Hiến Pháp và Luật</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="q1a3" required disabled="disabled">
              <label class="custom-control-label" for="q1a3">Luật Hiến Pháp</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="q1a4" required disabled="disabled">
              <label class="custom-control-label" for="q1a4">Luật và Chính Sách</label>
            </div>
          </form>
        </div>
      </div>
    </mat-card>

    <mat-card class="mb-5">
      <mat-card-header id="heading2">
        <mat-card-title class="m-3">
          <b>Câu 2:</b> Quyền và nghĩa vụ Quyền và nghĩa vụ Quyền và nghĩa vụ
        </mat-card-title>
        <mat-card-subtitle class="m-3">
          <button mat-raised-button color="primary" matBadge="Khó" matBadgePosition="after" matBadgeColor="warn" data-toggle="collapse"
            data-target="#collapseChuong2" aria-expanded="true" aria-controls="collapseChuong2">
            Đáp án
          </button>
        </mat-card-subtitle>
      </mat-card-header>
      <div id="collapseChuong2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
        <div class="card-body">
          <form class="was-validated">
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="q1a1" required disabled="disabled">
              <label class="custom-control-label" for="q1a1">Hiến Pháp</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="q1a2" required checked="checked" disabled="disabled">
              <label class="custom-control-label" for="q1a2">Hiến Pháp và Luật</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="q1a3" required disabled="disabled">
              <label class="custom-control-label" for="q1a3">Luật Hiến Pháp</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="q1a4" required disabled="disabled">
              <label class="custom-control-label" for="q1a4">Luật và Chính Sách</label>
            </div>
          </form>
        </div>
      </div>
    </mat-card>

  </div>
</div>
